@import 'variables';

.container {
    display: grid;
    grid-template-rows: 51px auto;

    &-header {
        height: 51px;
        background-color: $gray-color;
        display: flex;
        align-items: center;
        padding:0 20px;
    }

    &-content {
        padding: 20px;
    }
}